<h1>Héroes <small>Marvel y DC</small></h1>
<hr>
<div class="card-columns">
    <div class="card animated fadeIn fast" *ngFor="let hero of heroes; let i = index">
        <img [src]="hero.img" [alt]="hero.nombre" class="card-img-top img-fluid">
        <div class="card-block mt-2">
            <h4 class="card-title">{{ hero.nombre }}</h4>
            <p class="card-text">{{ hero.bio }}</p>
            <p class="card-text"><small>{{ hero.aparicion }}</small></p>

            <button (click)="verHeroe(i)" type="button" class="btn btn-outline-primary btn-block">
                Ver más...
            </button>
            <!-- <a [routerLink]="['/heroe', i]" class="btn btn-outline-primary btn-block">Ver más link...</a> -->
        </div>
    </div>
</div>